nav
{
    display: flex;
    justify-content: space-around;
    background-image:
    linear-gradient(to top, rgba(80, 74, 63, 0.801), rgba(235, 229, 210, 0.753));
    height: 100px;
    align-items: center;
}

.nav
{
    width: 300px;
    height: 75px;
    /*background-color: rgba(127, 255, 212, 0.199);*/
    border-radius: 10px;
}

h1
{
    text-align: center;
    min-width: 50px;
    max-width: 200px;
    margin: 7px auto 0 auto;
    padding: 10px 10px 10px 10px;
    background-image:
    linear-gradient(to top, rgba(228, 151, 9, 0.801), rgba(216, 169, 16, 0.753));
    border-radius: 120px;
    font-size: 30px;
}

h1:hover
{
    background-color: rgb(168, 67, 0);
}

a
{
    text-decoration: none;
}

a:hover
{
    color: brown;
}

a:visited
{
    color: black;
}

a:focus
{
    color: black;
}

p
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

body
{
    background-color: rgb(226, 226, 226);
}