#qui
{
    background-color: rgba(201, 154, 0, 0.89);
    height: fit-content;
    width: auto;
    border-color: black;
    padding: 10px 10px 10px 10px;
    margin: 10px auto 10px auto;
    border-radius: 5px;
}

#moi
{
    margin: 5px auto 5px auto;
    padding-top: 5px;
    width: fit-content;
    align-items: center;
}


a:link 
{ 
 text-decoration:none; 
} 

ul
{
    list-style:none;
}

.aa
{
    background-color: rgba(230, 109, 109, 0.363);
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

.aa:hover
{
    background-color: rgba(236, 56, 56, 0.795);
}

#boite1
{
    display: flex;
    justify-content: space-around;
}

p
{
    font-size: 20px;
}
